# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
venv/

# Environment variables
.env

# VS Code settings
.vscode/

# macOS files
.DS_Store

# Logs and databases
*.log
*.sqlite3

# Python egg files
*.egg
*.egg-info/
dist/
build/